/* Nomenclature */
/* compElem-maintype(basic,complex)-len(short,long)-basictype(text,checkbox,dropdown,div)) */
.compElem-div {
  position: center;
  padding: 12px;
  border: solid black 2px;
  border-radius: 10px;
}

.compElem-basic-short-label {
  font-weight: 600;
  margin: 5px;
  display: block;
}

/* compElem-type(basic,complex)-len(short,long)-basictype(text,checkbox,dropdown)) */
.compElem-input-area-email, 
.compElem-input-area-password,
.compElem-basic-short-text {
  width: auto;
  height: 40px;
  border-width: 1px;
  border-radius: 10px;
}

.compElem-basic-choice-label{
  margin: 5px;
  /* display: block; */
}

.compElem-input-area-email, 
.compElem-input-area-password, 
.compElem-basic-short-text:focus {
  background-color: yellow;
  border-width: 2px;
  border-radius: 5px;
}

.compElem-comp-vertical-div{
  border: solid black 2px;
  border-radius: 5px;
}