.sub_demo_div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.sub-menu {
    overflow: hidden;
    background-color: #000000;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.sticky+.content {
    padding-top: 60px;
}

.sub-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.sub-menu a:hover {
    background-color: #0f7ef1;
    color: black;
}

.sub-menu a.main {
    background-color: #f39c12;
    color: white;
}

.demodiv {
    margin: 10px;
}

.feature_demo {
    border: solid black 2px;
    border-radius: 10px;
    flex-grow: 1;
    margin: 0px 10px;
    padding: 10px;
    height: 60px;
}

.rendered_demo {
    flex-grow: 2;
    margin: 0px 10px;
    width: max-content;
    min-width: -webkit-fill-available;
}

.ind_demo_code {
    margin: 10px 2%;
    padding: 10px;
    text-align: center;
    flex: 0 0 50%;
    border: solid black 2px;
    border-radius: 10px;
}

.output_demo {
    font-size: 17px;
    border-radius: 10px;
    margin: 10px 2%;
    padding: 10px;
    text-align: center;
    flex: 0 0 50%;
    align-self: center;
    border: solid black 2px;
}

.code_text {
    font-size: 17px;
    text-align: initial;
}