body,
html,
head {
  font-family: 'Calibri', 'Cambria Math';
}

* {
  margin: 0;
  padding: 0;
}

.main-title {
  margin-top: 20px;
}

.demo {
  margin: 0 10px;
  padding-bottom: 24px;

}

#Demo_1 {
  flex: 0 0 50%;
  margin-right: 3px;
}

.comp_quiz-example {
  display: flex;

}

#output {
  text-align: center;
  min-height: 400px;
  border: 2px solid black;
  width: 50%;
  border-radius: 10px;
  margin: 0 2px;
}

pre {
  font-size: 17px;
}

.header {
  margin: 60px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 1%;
  width: auto;

}

.sub-header-container {
  display: flex;
}

.sub-header_0 {
  flex: 0 0 47%;
  background-color: #f2f2f2;
  padding: 1%;
  margin: 10px 5px;
  width: auto;
  border-radius: 10px;
  text-align: center;
}

.sub-header_1 {
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 1%;
  margin: 10px 5px;
  width: auto;
  border-radius: 10px;
  text-align: center;
}

.demo_code {
  overflow: scroll;
  height: 60%;
}

.main-menu {
  overflow: hidden;
  background-color: #000000;
  top: 0;
  position: fixed;
  width: 100%;
}

.main-menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main-menu a:hover {
  background-color: #0f7ef1;
  color: black;
}

.main-menu a.main {
  background-color: #f39c12;
  color: white;
  cursor: pointer;
}

.get-data-button {
  padding: 12px 10px;
  border: 0;
  background: #0f7ef1;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
  letter-spacing: 1px;
  border-color: #333;
}

.get-data-button:hover {
  box-shadow: 0 0 10px #f39c12;
}

#footer {
  height: 50px;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0f7ef1;
  color: white;
  text-align: center;
}